<footer>
  <ul>
    <li><a href="https://www.linkedin.com" target="_blank"><img src="/images/linkedin.svg"></a></li>
    <li><a href="https://www.twitter.com/thaitwo" target="_blank"><img src="/images/twitter.svg"></a></li>
    <li><a href="https://www.instagram.com/thaitwo" target="_blank"><img src="/images/instagram.svg"></a></li>
    <li><a href="https://www.facebook.com" target="_blank"><img src="/images/facebook.svg"></a></li>
  </ul>
  
  <small>COPYRIGHT &copy; 2016 THAITWO PHOTOGRAPHY</small>

  <div class="clear"></div>
</footer>
