<footer class="clearfix">
  <ul class="social-media-content-wrapper">
    <li>
      <a href="https://www.instagram.com/thaitwo" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-instagram fa-stack-1x fa-inverse" aria-hidden="true"></i>
        </span>
      </a>
    </li>
    <li>
      <a href="https://www.twitter.com/thaitwo" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x fa-inverse" aria-hidden="true"></i>
        </span>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-linkedin fa-stack-1x fa-inverse" aria-hidden="true"></i>
        </span>
      </a>
    </li>
  </ul>

  <small><em>&copy; THAI TU PHOTOGRAPHY 2017</em></small>

  <div class="clear"></div>
</footer>
