<form class="form">
		<ul>
			<li>
				<input type="text" name="name" placeholder="YOUR NAME">
			</li>
			<li>
				<input type="text" name="email" placeholder="YOUR EMAIL">
			</li>
			<li>
				<textarea placeholder="YOUR MESSAGE"></textarea>
			</li>
			<a class="button button-secondary" href="#">SEND MESSAGE</a>
		</ul>
</form>