<form class="form" name="contactForm" method="post" action="/contact">
    <ul>
      <li>
        <input type="text" name="name" placeholder="YOUR NAME" value="<%= name %>">
      </li>
      <li>
        <input type="email" name="email" placeholder="YOUR EMAIL" value="<%= email %>">
      </li>
      <li>
        <textarea name="message" placeholder="YOUR MESSAGE"><%= message %></textarea>
      </li>
      <input type="submit" value="SEND MESSAGE" class="button button-secondary">
    </ul>
</form>