<div class="grid-masonry animated fadeIn clearfix">
  <figure class="grid-sizer"></figure>
  <figure class="grid-masonry-item image-card">
    <img src="/images/landscape/landscape-1.jpg">
    <figcaption>
      <h2>Landscape</h2>
      <p>View Gallery</p>
      <a href="/gallery/landscape"></a>
    </figcaption>
  </figure>

  <figure class="grid-masonry-item image-card">
    <img src="/images/portrait/portrait-15.jpg">
    <figcaption>
      <h2>People</h2>
      <p>View Gallery</p>
      <a href="/gallery/people"></a>
    </figcaption>
  </figure>

  <figure class="grid-masonry-item image-card">
    <img src="/images/food/food-8.jpg">
    <figcaption>
      <h2>Food</h2>
      <p>View Gallery</p>
      <a href="/gallery/food"></a>
    </figcaption>
  </figure>

  <figure class="grid-masonry-item image-card">
    <img src="/images/travel/thailand-2.jpg">
    <figcaption>
      <h2>Travel</h2>
      <p>View Gallery</p>
      <a href="/gallery/travel"></a>
    </figcaption>
  </figure>

  <figure class="grid-masonry-item image-card">
    <img src="/images/engagement/trongchristie-2.jpg">
    <figcaption>
      <h2>Engagement</h2>
      <p>View Gallery</p>
      <a href="/gallery/engagement"></a>
    </figcaption>
  </figure>

  <figure class="grid-masonry-item image-card">
    <img src="/images/street/street-4.jpg">
    <figcaption>
      <h2>Street</h2>
      <p>View Gallery</p>
      <a href="/gallery/street"></a>
    </figcaption>
  </figure>

  <figure class="grid-masonry-item image-card">
    <img src="/images/portrait/portrait-11.jpg">
    <figcaption>
      <h2>Sports</h2>
      <p>View Gallery</p>
      <a href="/gallery/sports"></a>
    </figcaption>
  </figure>

  <figure class="grid-masonry-item image-card">
    <img src="/images/things/things-2.jpg">
    <figcaption>
      <h2>Things</h2>
      <p>View Gallery</p>
      <a href="/gallery/things"></a>
    </figcaption>
  </figure>
</div>