<div class="gallery-nav">
	<figure class="image-card">
		<img src="/images/landscape.jpg">
		<figcaption>
			<h2>
				LANDSCAPE
			</h2>
			<p>VIEW GALLERY</p>
			<a href="/gallery/landscape">View More</a>
		</figcaption>
	</figure>
	<figure class="image-card">
		<img src="/images/portrait.jpg">
		<figcaption>
			<h2>
				PORTRAIT
			</h2>
			<p>VIEW GALLERY</p>
			<a href="/gallery/portrait">View More</a>
		</figcaption>
	</figure>
	</figure>
	<figure class="image-card">
		<img src="/images/food.jpg">
		<figcaption>
			<h2>
				FOOD
			</h2>
			<p>VIEW GALLERY</p>
			<a href="/gallery/food">View More</a>
		</figcaption>
	</figure>
</div>

<!-- Original Gallery Nav
<nav class="gallery-nav">
		<a class="image-card bg-landscape" href="#">
			<strong>LANDSCAPE</strong>
		</a>

		<a class="image-card bg-portrait" href="#">
			<strong>PORTRAIT</strong>
		</a>

		<a class="image-card bg-food" href="#">
			<strong>FOOD</strong>
		</a>
		<div class="clear"></div>
</nav>
-->
