<nav class="gallery-nav">
	<ul>
		<a class="background-landscape"><strong>LANDSCAPE</strong><em>VIEW GALLERY</em></a>
		<a class="background-portrait"><strong>PORTRAIT</strong><em>VIEW GALLERY</em></a>
		<a class="background-food"><strong>FOOD</strong><em>VIEW GALLERY</em></a>
	</ul>
</nav>