<nav class="top-nav">
  <h1><a href="/">thaitwo<em>photography</em></a></h1>

  <i id="dropdown-button" class="fa fa-bars fa-2x"></i>

  <ul class="dropdown">
	<li><a href="/contact">Contact</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/gallery">Galleries</a></li>
  </ul>
  <div class="clear"></div>
</nav>