<nav class="topnav">
  <h1 class="topnav-logo">
    <a href="/">thaitu<em>photography</em></a>
  </h1>

  <button class="dropdown-button">
    <i id="dropdown-button" class="material-icons md-36">menu</i>
  </button>

  <ul class="topnav-menu">
    <li>
      <a href="/gallery">Galleries</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
  </ul>

  <div class="clear"></div>
</nav>