<nav class="top-nav">
	<h1><a href="/">thaitwo<em>photography</em></a></h1>

	<ul>
		<li><a href="/contact">CONTACT</a></li>
		<li><a href="/about">ABOUT</a></li>
		<li><a href="/gallery">GALLERIES</a></li>
	</ul>
</nav>