<div id="viewer" class="viewer">
  <i class="viewer-close-button fa fa-times fa-2x"></i>

  <i id="prev" class="fa fa-chevron-left fa-2x viewer-arrow-back"></i>
  <i id="next" class="fa fa-chevron-right fa-2x viewer-arrow-forward"></i>

  <div class="viewer-caption"></div>
  <div class="viewer-image-container"></div>
</div>