<div id="viewer" class="viewer">
  <i class="closeviewer fa fa-times fa-3x"></i>

  <i id="prev" class="fa fa-chevron-left fa-3x"></i>
  <i id="next" class="fa fa-chevron-right fa-3x"></i>

  <div class="imageviewer"></div>
  <div class="caption"></div>
</div>