<div id="viewer" class="viewer">
  <i class="viewer-close-button fa fa-times fa-3x"></i>

  <i id="prev" class="fa fa-chevron-left fa-3x back-arrow"></i>
  <i id="next" class="fa fa-chevron-right fa-3x forward-arrow"></i>

  <div class="viewer-image-container"></div>
  <div class="viewer-caption"></div>
</div>