<div id="viewer" class="viewer">
  <div class="viewer-bg"></div>
  <i class="material-icons viewer-close-button">close</i>

  <i id="prev" class="material-icons viewer-arrow-back">navigate_before</i>
  <i id="next" class="material-icons viewer-arrow-forward">navigate_next</i>
  <div class="viewer-image-container"></div>
  <div class="viewer-caption"></div>
  <p class="viewer-directions">TAP OR SWIPE</p>
</div>

