<%- include('../views/includes/_hero', {background:"bg-about"}); %>


<article class="grid">
  <img class="col-5 is-full-width is-rounded" src="/images/about-thai.jpg">
  <div class="col-1"></div>
  <div class="col-6">
    <h3>HELLO!</h3><br>
    <p>Welcome to my website and thanks for visiting! My name is Thai and I am a photography enthusiast.</p><br>
    <p>I got into photography back in 2013 when I bought my first DSLR camera, a Canon T3i. Ever since, capturing cool sceneries and memorable life moments have been a hobby and passion of mine.</p><br>
    <p>Aside from photography, I also enjoy playing tennis and basketball, outdoor activities, doing anything adventurous, and learning web development.</p><br>

    <div class="ctr">
      <a class="button button-secondary" href="/gallery">CHECK OUT MY WORK</a>
    </div>
  </div>
</article>
