<%- include('../views/includes/_hero', {background:"img-about"}); %>


<article class="grid">
  <img class="col-5" src="/images/about-thai.jpg">
  <div class="col-7">
    <h3 class="text-subtitle">HEY, WHAT'S UP!</h3><br>
    <p class="text-content">Thanks for checking out my website! My name is Thai and I am a photography enthusiast.</p><br>
    <p class="text-content">I started photography back in 2012 when I bought my first DSLR camera (Canon T3i). Ever since, capturing amazing sceneries and life moments have been a big hobby and passion of mine. I also love editing the photos in post-processing as it allows me to be creative with my photography.</p><br>
    <p class="text-content">Aside from photography, I also enjoy playing tennis, basketball, outdoor activities, and doing anything adventurous.</p><br><br>
    <a class="button secondary" href="/gallery">CHECK OUT MY WORK</a>
  </div>
</article>
