<%- include('../views/includes/_hero', {background:"img-contact"}); %>

<article class="text-content text-content-center">
  <p>Feel free to contact me via Twitter if you have any questions.
  <br>Or simply just to say hi.</p><br>
  <a class="button secondary medium-text" href="https://twitter.com/thaitwo" target="_blank">@thaitwo</a>
  <div class="clear"></div>
</article>

<article class="image-center">
  <div class="text-center">
  	<!-- <% include ../views/includes/_form %> -->
  </div>
  <img src="/images/marlette.jpg">
</article>