<header class="contact-hero contact-image">
	<h1><%= title %></h1>
	<div class="header-bottom-arrow"></div>
	<div class="clear"></div>
</header>

<article class="contact-top-blurb">
	<p>Feel free to get in touch with me if you have any questions.
	<br>Or simply just to say hi.</p>
	<div class="clear"></div>
</article>

<article class="contact-block">
	<form class="contact-form">
		<ul>
			<li>
				<input type="text" name="name" placeholder="YOUR NAME">
			</li>
			<li>
				<input type="text" name="email" placeholder="YOUR EMAIL">
			</li>
			<li>
				<textarea placeholder="YOUR MESSAGE"></textarea>
			</li>
			<a class="button button-secondary" href="#">SEND MESSAGE</a>
		</ul>
	</form>
	<img src="/images/marlette.jpg">
	<div class="clear"></div>
</article>