<%- include('../views/includes/_hero', {background:"bg-contact"}); %>

<article class="grid">
  <div id="form-success" class="col-6">
  	<h1>THANK YOU!</h1><br>
  	<p>Your message has been delivered successfully.</p><br>

    <div class="cta">
      <a class="button button-secondary" href="/gallery">VIEW GALLERIES</a>
    </div>
  </div>
  <img class="col-6 is-full-width is-rounded" src="/images/marlette.jpg">

   <div class="clear"></div>
</article>