<%- include('../views/includes/_hero', {background:"img-la-night"}); %>

<article class="text-content text-content-center">
	<p>Feel free to get in touch with me if you have any questions.
	<br>Or simply just to say hi.</p>
	<div class="clear"></div>
</article>

<article class="grid">
	<div class="col-6">
	<% include ../views/includes/_form %>
	</div>
	<img class="col-6" src="/images/marlette.jpg">
	<div class="clear"></div>
</article>