<%- include('../views/includes/_hero', {background:"img-contact"}); %>

<article class="text-content text-content-center">
  <p>Feel free to get in touch with me via Twitter if you have any questions.
  <br>Or simply just to say hi.</p>
  <div class="clear"></div>
</article>

<article class="grid">
  <div class="col-6 text-center">
  	<a href="https://www.twitter.com/thaitwo" target="_blank"><img width="100%" src="/images/twitter-banner.jpg"></a><br>
  	<a class="button button-tertiary button-wide" href="https://www.twitter.com/thaitwo" target="_blank">CONTACT VIA TWITTER</a>
  	<!-- <% include ../views/includes/_form %> -->
  </div>
  <img class="col-6" src="/images/marlette.jpg">
</article>