<%- include('../views/includes/_hero', {background:"bg-street"}); %>

<ul class="grid-masonry gallery">
  <li class="grid-sizer"></li>
  <li class="grid-masonry-item">
    <a href="/images/street/street-4.jpg" title="Children handing out free water to the public | Thu Dau Mot, Vietnam">
      <img src="/images/street/street-4.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/street/street-3.jpg" title="Two friends conversing during sunset | Thu Dau Mot, Vietnam">
      <img src="/images/street/street-3.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/street/street-5.jpg" title="Spectators during a lion dance on Lunar's New Year | Thu Dau Mot, Vietnam">
      <img src="/images/street/street-5.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/street/street-1.jpg" title="Warrior Fans at 2015 Championships Parade">
      <img src="/images/street/street-1.jpg">
    </a>
  </li>
</ul>

<% include ../views/includes/_viewer %>

<% include ../views/includes/_gallery-nav %>