<%- include('../views/includes/_hero', {background:"bg-sports"}); %>

<ul class="grid-masonry gallery">
  <li class="grid-sizer"></li>
  <li class="grid-masonry-item">
    <a href="/images/sports/sports-1.jpg" title="Mountain Biking, Flume Trail, Lake Tahoe">
      <img src="/images/sports/sports-1.jpg">
    </a>
  </li>
</ul>

<% include ../views/includes/_viewer %>

<% include ../views/includes/_gallery-nav %>