<%- include('../views/includes/_hero', {background:"bg-portrait"}); %>

<ul class="grid-masonry gallery">
  <li class="grid-masonry-item">
    <a href="/images/portrait/portrait-10.jpg">
      <img src="/images/thumbnails-portrait/portrait-thumbnail-10.jpg" width="300" height="200">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/portrait/portrait-15.jpg">
      <img src="/images/thumbnails-portrait/portrait-thumbnail-15.jpg" width="300" height="200">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/portrait/portrait-12.jpg">
      <img src="/images/thumbnails-portrait/portrait-thumbnail-12.jpg" width="300" height="200">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/portrait/portrait-5.jpg">
      <img src="/images/thumbnails-portrait/portrait-thumbnail-5.jpg" width="300" height="200">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/portrait/portrait-6.jpg">
      <img src="/images/thumbnails-portrait/portrait-thumbnail-6.jpg" width="300" height="200">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/portrait/portrait-9.jpg">
      <img src="/images/thumbnails-portrait/portrait-thumbnail-9.jpg" width="300" height="200">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/portrait/portrait-1.jpg">
      <img src="/images/thumbnails-portrait/portrait-thumbnail-1.jpg" width="300" height="200">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/portrait/portrait-13.jpg">
      <img src="/images/thumbnails-portrait/portrait-thumbnail-13.jpg" width="300" height="200">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/portrait/portrait-14.jpg">
      <img src="/images/thumbnails-portrait/portrait-thumbnail-14.jpg" width="300" height="450">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/portrait/portrait-8.jpg">
      <img src="/images/thumbnails-portrait/portrait-thumbnail-8.jpg" width="300" height="200">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/portrait/portrait-7.jpg">
      <img src="/images/thumbnails-portrait/portrait-thumbnail-7.jpg" width="300" height="450">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/portrait/portrait-11.jpg">
      <img src="/images/thumbnails-portrait/portrait-thumbnail-11.jpg" width="300" height="200">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/portrait/portrait-4.jpg">
      <img src="/images/thumbnails-portrait/portrait-thumbnail-4.jpg" width="300" height="200">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/portrait/portrait-3.jpg">
      <img src="/images/thumbnails-portrait/portrait-thumbnail-3.jpg" width="300" height="450">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/portrait/portrait-2.jpg">
      <img src="/images/thumbnails-portrait/portrait-thumbnail-2.jpg" width="300" height="200">
    </a>
  </li>
</ul>

<% include ../views/includes/_viewer %>

<% include ../views/includes/_gallery-nav %>