<%- include('../views/includes/_hero', {background:"bg-sports"}); %>

<ul class="grid-masonry gallery">
  <li class="grid-sizer"></li>
  <li class="grid-masonry-item">
    <a href="/images/food/food-8.jpg" title="Spam Musubis in Hawaii">
      <img src="/images/food/food-8.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
  	<a href="/images/food/food-1.jpg" title="BBQ Pulled Pork Sandwich">
      <img src="/images/food/food-1.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
  	<a href="/images/food/food-2.jpg" title="Pad Kee Mao">
      <img src="/images/food/food-2.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
  	<a href="/images/food/food-3.jpg" title="Chicken Noodle Bowl">
      <img src="/images/food/food-3.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
  	<a href="/images/food/food-4.jpg" title="Tiger Beer">
      <img src="/images/food/food-4.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
  	<a href="/images/food/food-5.jpg" title="Chow Fun in Malaysia">
      <img src="/images/food/food-5.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
  	<a href="/images/food/food-6.jpg" title="Ramen at an Airport in China">
      <img src="/images/food/food-6.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
  	<a href="/images/food/food-7.jpg" title="Chicken Tikka at Indikitch, New York">
      <img src="/images/food/food-7.jpg">
    </a>
  </li>
</ul>

<% include ../views/includes/_viewer %>

<% include ../views/includes/_gallery-nav %>