<%- include('../views/includes/_hero', {background:"bg-food"}); %>

<ul class="grid gallery">
  <li class="col-4">	
  	<a href="/images/food/food-1.jpg" title="BBQ Pulled Pork Sandwich"><img src="/images/thumbnails-food/food-thumbnail-1.jpg"></a>
  </li>
  <li class="col-4">	
  	<a href="/images/food/food-2.jpg" title="Pad Kee Mao"><img src="/images/thumbnails-food/food-thumbnail-2.jpg"></a>
  </li>
  <li class="col-4">	
  	<a href="/images/food/food-3.jpg" title="Chicken Noodle Bowl"><img src="/images/thumbnails-food/food-thumbnail-3.jpg"></a>
  </li>
  <li class="col-4">	
  	<a href="/images/food/food-4.jpg" title="Tiger Beer"><img src="/images/thumbnails-food/food-thumbnail-4.jpg"></a>
  </li>
  <li class="col-4">	
  	<a href="/images/food/food-5.jpg" title="Chow Fun in Malaysia"><img src="/images/thumbnails-food/food-thumbnail-5.jpg"></a>
  </li>
  <li class="col-4">	
  	<a href="/images/food/food-6.jpg" title="Ramen at Airport in China"><img src="/images/thumbnails-food/food-thumbnail-6.jpg"></a>
  </li>
  <li class="col-4">	
  	<a href="/images/food/food-7.jpg" title="Chicken Tikka at Indikitch, New York"><img src="/images/thumbnails-food/food-thumbnail-7.jpg"></a>
  </li>
</ul>

<% include ../views/includes/_viewer %>

<% include ../views/includes/_gallery-nav %>