<%- include('../views/includes/_hero', {background:"bg-things"}); %>

<ul class="grid-masonry gallery">
  <li class="grid-sizer"></li>
  <li class="grid-masonry-item">
    <a href="/images/things/things-2.jpg" title="Fireshow | Krabi, Thailand">
      <img src="/images/things/things-2.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/things/things-3.jpg" title="Tigers in the Tiger Kingdom | Chiang Mai, Thailand">
      <img src="/images/things/things-3.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/things/things-1.jpg" title="Caterpillar">
      <img src="/images/things/things-1.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/things/things-4.jpg" title="9/11 Memorial">
      <img src="/images/things/things-4.jpg">
    </a>
  </li>
</ul>

<% include ../views/includes/_viewer %>

<% include ../views/includes/_gallery-nav %>