<%- include('../views/includes/_hero', {background:"bg-engagement"}); %>

<ul class="grid-masonry gallery">
  <li class="grid-sizer"></li>
  <li class="grid-masonry-item">
    <a href="/images/engagement/trongchristie-1.jpg" title="Trong & Christie">
      <img src="/images/engagement/trongchristie-1.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
  	<a href="/images/engagement/trongchristie-2.jpg" title="Trong & Christie">
      <img src="/images/engagement/trongchristie-2.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
  	<a href="/images/engagement/trongchristie-3.jpg" title="Trong & Christie">
      <img src="/images/engagement/trongchristie-3.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
  	<a href="/images/engagement/trongchristie-4.jpg" title="Trong & Christie">
      <img src="/images/engagement/trongchristie-4.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
  	<a href="/images/engagement/trongchristie-5.jpg" title="Trong & Christie">
      <img src="/images/engagement/trongchristie-5.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
  	<a href="/images/engagement/trongchristie-6.jpg" title="Trong & Christie">
      <img src="/images/engagement/trongchristie-6.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
  	<a href="/images/engagement/trongchristie-7.jpg" title="Trong & Christie">
      <img src="/images/engagement/trongchristie-7.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
  	<a href="/images/engagement/trongchristie-8.jpg" title="Trong & Christie">
      <img src="/images/engagement/trongchristie-8.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/engagement/trongchristie-9.jpg" title="Trong & Christie">
      <img src="/images/engagement/trongchristie-9.jpg">
    </a>
  </li>
</ul>

<% include ../views/includes/_viewer %>

<% include ../views/includes/_gallery-nav %>