<%- include('../views/includes/_hero', {background:"img-landscape"}); %>

<div id="message">

</div>

<div id="viewer" class="viewer">
  <div class="imageviewer">
    <!-- Image goes here -->
  </div>
  
  <span class="closeviewer">x</span>
</div>

<div class="grid gallery">
  <a class="col-4" href="/images/landscape/landscape-1.jpg"><img src="/images/thumbnails-landscape/landscape-thumbnail-1.jpg"></a>
  <a class="col-4" href="/images/landscape/landscape-2.jpg"><img src="/images/thumbnails-landscape/landscape-thumbnail-2.jpg"></a>
  <a class="col-4" href="/images/landscape/landscape-9.jpg"><img src="/images/thumbnails-landscape/landscape-thumbnail-9.jpg"></a>
  <a class="col-4" href="/images/landscape/landscape-4.jpg"><img src="/images/thumbnails-landscape/landscape-thumbnail-4.jpg"></a>
  <a class="col-4" href="/images/landscape/landscape-5.jpg"><img src="/images/thumbnails-landscape/landscape-thumbnail-5.jpg"></a>
  <a class="col-4" href="/images/landscape/landscape-6.jpg"><img src="/images/thumbnails-landscape/landscape-thumbnail-6.jpg"></a>
  <a class="col-4" href="/images/landscape/landscape-7.jpg"><img src="/images/thumbnails-landscape/landscape-thumbnail-7.jpg"></a>
  <a class="col-4" href="/images/landscape/landscape-8.jpg"><img src="/images/thumbnails-landscape/landscape-thumbnail-8.jpg"></a>
  <a class="col-4" href="/images/landscape/landscape-3.jpg"><img src="/images/thumbnails-landscape/landscape-thumbnail-3.jpg"></a>
  <a class="col-4" href="/images/landscape/landscape-10.jpg"><img src="/images/thumbnails-landscape/landscape-thumbnail-10.jpg"></a>
  <a class="col-4" href="/images/landscape/landscape-11.jpg"><img src="/images/thumbnails-landscape/landscape-thumbnail-11.jpg"></a>
  <a class="col-4" href="/images/landscape/landscape-12.jpg"><img src="/images/thumbnails-landscape/landscape-thumbnail-12.jpg"></a>
  <a class="col-4" href="/images/landscape/landscape-13.jpg"><img src="/images/thumbnails-landscape/landscape-thumbnail-13.jpg"></a>
  <a class="col-4" href="/images/landscape/landscape-14.jpg"><img src="/images/thumbnails-landscape/landscape-thumbnail-14.jpg"></a>
  <a class="col-4" href="/images/landscape/landscape-15.jpg"><img src="/images/thumbnails-landscape/landscape-thumbnail-15.jpg"></a>
</div>

<% include ../views/includes/_gallery-nav %>