<%- include('../views/includes/_hero', {background:"bg-travel"}); %>

<ul class="grid-masonry gallery">
  <li class="grid-sizer"></li>
  <li class="grid-masonry-item">
    <a href="/images/travel/ny-1.jpg" title="New York">
      <img src="/images/travel/ny-1.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
  	<a href="/images/travel/ny-2.jpg" title="US Open, New York">
      <img src="/images/travel/ny-2.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
  	<a href="/images/travel/thailand-1.jpg" title="Krabi, Thailand">
      <img src="/images/travel/thailand-1.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
  	<a href="/images/travel/thailand-2.jpg" title="Krabi, Thailand">
      <img src="/images/travel/thailand-2.jpg">
    </a>
  </li>
</ul>

<% include ../views/includes/_viewer %>

<% include ../views/includes/_gallery-nav %>