<%- include('../views/includes/_hero', {background:"bg-portrait"}); %>

<ul class="grid-masonry gallery">
  <li class="grid-sizer"></li>
  <li class="grid-masonry-item">
    <a href="/images/portrait/portrait-10.jpg">
      <img src="/images/portrait/portrait-10.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/portrait/portrait-15.jpg">
      <img src="/images/portrait/portrait-15.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/portrait/portrait-12.jpg">
      <img src="/images/portrait/portrait-12.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/portrait/portrait-13.jpg">
      <img src="/images/portrait/portrait-13.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/portrait/portrait-14.jpg">
      <img src="/images/portrait/portrait-14.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/portrait/portrait-5.jpg">
      <img src="/images/portrait/portrait-5.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/portrait/portrait-6.jpg">
      <img src="/images/portrait/portrait-6.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/portrait/portrait-9.jpg">
      <img src="/images/portrait/portrait-9.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/portrait/portrait-1.jpg">
      <img src="/images/portrait/portrait-1.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/portrait/portrait-19.jpg">
      <img src="/images/portrait/portrait-19.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/portrait/portrait-8.jpg">
      <img src="/images/portrait/portrait-8.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/portrait/portrait-18.jpg">
      <img src="/images/portrait/portrait-18.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/portrait/portrait-7.jpg">
      <img src="/images/portrait/portrait-7.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/portrait/portrait-17.jpg">
      <img src="/images/portrait/portrait-17.jpg">
    </a>
  </li>  <li class="grid-masonry-item">
    <a href="/images/portrait/portrait-20.jpg">
      <img src="/images/portrait/portrait-20.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/portrait/portrait-4.jpg">
      <img src="/images/portrait/portrait-4.jpg">
    </a>
  </li>
</ul>

<% include ../views/includes/_viewer %>

<% include ../views/includes/_gallery-nav %>