<%- include('../views/includes/_hero', {background:"bg-landscape"}); %>

<ul class="grid-masonry gallery">
  <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-1.jpg" title="Bay Bridge during a summer night">
      <img src="/images/thumbnails-landscape/landscape-thumbnail-1.jpg" width="300" height="200">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-2.jpg" title="Lake Tahoe">
      <img src="/images/thumbnails-landscape/landscape-thumbnail-2.jpg" width="300" height="200">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-9.jpg" title="Half Dome, Yosemite">
      <img src="/images/thumbnails-landscape/landscape-thumbnail-9.jpg" width="300" height="200">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-4.jpg" title="Railay Beach, Thailand">
      <img src="/images/thumbnails-landscape/landscape-thumbnail-4.jpg" width="300" height="200">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-5.jpg" title="New York City from atop the Rockefeller Center">
      <img src="/images/thumbnails-landscape/landscape-thumbnail-5.jpg" width="300" height="200">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-15.jpg" title="View of Bixby Bridge on Highway 1">
      <img src="/images/thumbnails-landscape/landscape-thumbnail-15.jpg" width="300" height="400">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-6.jpg" title="Los Angeles night traffic">
      <img src="/images/thumbnails-landscape/landscape-thumbnail-6.jpg" width="300" height="200">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-7.jpg" title="Sunset on Highway 1">
      <img src="/images/thumbnails-landscape/landscape-thumbnail-7.jpg" width="300" height="200">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-8.jpg" title="McWay Falls, Big Sur">
      <img src="/images/thumbnails-landscape/landscape-thumbnail-8.jpg" width="300" height="200">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-3.jpg" title="Railay Beach, Thailand">
      <img src="/images/thumbnails-landscape/landscape-thumbnail-3.jpg" width="300" height="200">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-10.jpg" title="Sunrise view from atop Half Dome, Yosemite">
      <img src="/images/thumbnails-landscape/landscape-thumbnail-10.jpg" width="300" height="200">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-11.jpg" title="Berry Creek Falls, Big Basin">
      <img src="/images/thumbnails-landscape/landscape-thumbnail-11.jpg" width="300" height="200">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-12.jpg" title="9/11 Memorial, New York">
      <img src="/images/thumbnails-landscape/landscape-thumbnail-12.jpg" width="300" height="200">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-13.jpg" title="Marlette Lake, Tahoe">
      <img src="/images/thumbnails-landscape/landscape-thumbnail-13.jpg" width="300" height="200">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-14.jpg" title="San Gregorio State Beach">
      <img src="/images/thumbnails-landscape/landscape-thumbnail-14.jpg" width="300" height="200">
    </a>
  </li>
</ul>

<% include ../views/includes/_viewer %>

<% include ../views/includes/_gallery-nav %>