<%- include('../views/includes/_hero', {background:"bg-landscape"}); %>

<ul class="grid-masonry gallery">
  <li class="grid-sizer"></li>
  <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-1.jpg" title="Bay Bridge during a summer night">
      <img src="/images/landscape/landscape-1.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-2.jpg" title="Lake Tahoe">
      <img src="/images/landscape/landscape-2.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-9.jpg" title="Half Dome, Yosemite">
      <img src="/images/landscape/landscape-9.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-23.jpg" title="Bay Bridge 2017 New Year Fireworks">
      <img src="/images/landscape/landscape-23.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-4.jpg" title="Railay Beach, Thailand">
      <img src="/images/landscape/landscape-4.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-5.jpg" title="New York City from atop the Rockefeller Center">
      <img src="/images/landscape/landscape-5.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-21.jpg" title="Thu Dau Mot Ferry, Vietnam">
      <img src="/images/landscape/landscape-21.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-22.jpg" title="Bach Dang River, Vietnam">
      <img src="/images/landscape/landscape-22.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-15.jpg" title="View of Bixby Bridge on Highway 1">
      <img src="/images/landscape/landscape-15.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-6.jpg" title="Los Angeles night traffic">
      <img src="/images/landscape/landscape-6.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-7.jpg" title="Sunset on Highway 1">
      <img src="/images/landscape/landscape-7.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-8.jpg" title="McWay Falls, Big Sur">
      <img src="/images/landscape/landscape-8.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-3.jpg" title="Railay Beach, Thailand">
      <img src="/images/landscape/landscape-3.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-10.jpg" title="Sunrise view from atop Half Dome, Yosemite">
      <img src="/images/landscape/landscape-10.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-11.jpg" title="Berry Creek Falls, Big Basin">
      <img src="/images/landscape/landscape-11.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-12.jpg" title="9/11 Memorial, New York">
      <img src="/images/landscape/landscape-12.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-24.jpg" title="Hawaii">
      <img src="/images/landscape/landscape-24.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-13.jpg" title="Marlette Lake, Tahoe">
      <img src="/images/landscape/landscape-13.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-14.jpg" title="San Gregorio State Beach">
      <img src="/images/landscape/landscape-14.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-16.jpg" title="SoCal Buildings">
      <img src="/images/landscape/landscape-16.jpg">
    </a>
  </li>
  <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-19.jpg" title="Tunnel View, Yosemite">
      <img src="/images/landscape/landscape-19.jpg">
    </a>
  </li>
  <!-- <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-20.jpg" title="Mirror Lake, Yosemite">
      <img src="/images/landscape/landscape-20.jpg">
    </a>
  </li> -->
  <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-18.jpg" title="LACMA Lights">
      <img src="/images/landscape/landscape-18.jpg">
    </a>
  </li>
  <!-- <li class="grid-masonry-item">
    <a href="/images/landscape/landscape-17.jpg" title="LACMA at Night">
      <img src="/images/landscape/landscape-17.jpg">
    </a>
  </li> -->
</ul>

<% include ../views/includes/_viewer %>

<% include ../views/includes/_gallery-nav %>