<header class="hero is-large bg-large bg-featured">
  <h2 class="hero-title animated fadeIn">
    <a href="/gallery/landscape">Half Dome</a>
  </h2>
  <h1 class="hero-title fadeIn">
    <a href="/gallery/landscape">Yosemite National Park</a>
  </h1>
  <a class="button button-primary animated fadeIn" href="/gallery/landscape">VIEW LANDSCAPE GALLERY</a>
  <div class="hero-bottom-arrow is-large"></div>
  <div class="clear"></div>
</header>

<article>
  <% include ../views/includes/_gallery-nav %>
</article>