<header class="homepage-hero half-dome">
	<h2>Half Dome</h2>
	<h1>Yosemite National Park</h1>
	<a class="button button-primary" href="/gallery/landscape">VIEW LANDSCAPE GALLERY</a>
	<!--<p>"You only got one life, so live it adventurously while you can."</p>-->
	<div class="bottom-arrow"></div>
	<div class="clear"></div>
</header>

<article class="homepage-gallery-header">
	<h3>MORE GALLERIES</h3>
	<% include ../views/includes/_gallery-nav %>
</article>