<header class="hero is-large bg-featured bg-large">
  <h2 class="hero-title animated fadeIn">Half Dome</h2>
  <h1 class="hero-title fadeIn">Yosemite National Park</h1>
  <a class="button button-primary animated fadeIn" href="/gallery/landscape">VIEW LANDSCAPE GALLERY</a>
  <div class="hero-bottom-arrow is-large"></div>
  <div class="clear"></div>
</header>

<article>
  <% include ../views/includes/_gallery-nav %>
</article>