<header class="hero is-large bg-large bg-featured">
	<div class="hero-copy">
	  <h2 class="hero-subtitle animated fadeIn">Sunrise From Half Dome</h2>
	  <h1 class="hero-title fadeIn">Yosemite Valley</h1>
	  <a class="button button-primary animated fadeIn" href="/gallery/landscape">View Landscape Gallery</a>
	</div>
  <div class="clear"></div>
</header>

<article>
  <% include ../views/includes/_gallery-nav %>
</article>