<header class="hero is-large bg-large bg-featured">
  <h2 class="hero-title animated fadeIn">California</h2>
  <h1 class="hero-title fadeIn">San Gregorio Beach</h1>
  <a class="button button-primary animated fadeIn" href="/gallery/landscape">VIEW LANDSCAPE GALLERY</a>
  <div class="clear"></div>
</header>

<article>
  <% include ../views/includes/_gallery-nav %>
</article>