<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	</head>

	<body>
		<!-- Insert Body here -->
		<div class="container">

			<% include ../views/includes/_top-nav %>

   			<div class="starter-template">
        		<%- body %>
        		<% include ../views/includes/_gallery-nav %>
    		</div>

		</div><!-- /.container -->

		<% include ../views/includes/_footer %>

	</body>

</html>

