<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Euphoria+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">

    <title>Thai Tu Photography</title>
  </head>
  <body>

    <% include ../views/includes/_top-nav %>
    <%- body %>
    <div class="clear"></div>
    <% include ../views/includes/_footer %>

    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
    <script src="/javascripts/masonry.pkgd.min.js"></script>
    <script src="/javascripts/masonry.js"></script>
    <script src="/javascripts/jquery.touchSwipe.min.js"></script>
    <script src="/javascripts/top-nav-dropdown.js"></script>
    <script src="/javascripts/viewer.js"></script>

  </body>
</html>

