<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	</head>

	<body>
		<!-- Insert Body here -->
		<div class="container">
			<h1>THAI TU PHOTOGRAPHY</h1>

			<% include ../views/navbar %>

   			<div class="starter-template">
        		<%- body %>
    		</div>

		</div><!-- /.container -->

		<footer>Copyright &copy; 2016</footer>
	</body>

</html>

