footer {
  padding: 20px 0px 20px 0px;
}

footer small {
  font: 12px "Raleway", sans-serif;
  font-weight: 300;
  color: #B0BEC5;
  letter-spacing: 0.1em;
  float: left;
  line-height: 32px;
  margin: 0px 60px;
}

footer ul {
  float: right;
  margin: 0px 60px 10px 0px;
}

footer li {
  float: right;
  list-style: none;
  display: inline-block;
  line-height: 32px;
  padding: 0px 0px 0px 8px;
}