.title-featured {
  color: #E0E0E0;
  font: 44px "Raleway", sans-serif;
  font-weight: 600;
  padding-top: 40px;
  text-align: center;
  display: block;
  right: 280px;
  top: 260px;
  position: absolute;
}

.homepage {
  height: 600px;
  background-color: #000;
}

.homepage p {
  color: #E0E0E0;
  font: 22px "Raleway", sans-serif;
  font-weight: 300;
  text-align: center;
  display: block;
  right: 280px;
  top: 370px;
  position: absolute;
  letter-spacing: .03em;
}

.button-featured {
  color: #757575;
  font: 16px "Raleway", sans-serif;
  font-weight: 300;
  padding: 12px 40px;
  top: 440px;
  right: 280px;
  position: absolute;
  background-color: #000;
  text-align: center;
  border: 1px solid #757575;
  letter-spacing: 0.15em;
  border-radius: 2px;
  cursor: pointer;
}

.button-featured:hover {
  color: #E0E0E0;
  border: 1px solid #E0E0E0;
  transition: all .4s;
}

.gallery-img-iphone {
  background: #000 url("/images/iphone_large_2x.jpg") 0px 0px  no-repeat;
  background-size: 57%;
}

.gallery-img-airpods {
  background: url("/images/airpods_large_2x.jpg");
  background-size: 100%;
}

#menu {
  background-color: #000;
  padding: 16px 100px;
  text-align: center;
}

#menu li {
  color: #E0E0E0;
  font: 15px "Raleway", sans-serif;
  font-weight: 300;
  display: inline-block;
  margin: 0 35px;
  cursor: pointer;
}

#menu li:hover {
  color: #90A4AE;
  transition: .2s all;
}


.footer-nav {
  margin: 40px 200px 80px;
  background-color: #f2f2f2;
  width: 100%;
}

.footer-nav li {
  font: 12px "Raleway", sans-serif;
  font-weight: 300;
  padding: 3.5px;
  color: #607D8B;
}

.footer-nav li strong {
  font-weight: 600;
  color: #263238;
}
