.viewer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 1);
  display: none;
}

.viewer.is-visible {
  display: block;
}

.closeviewer {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #fff;
}

.closeviewer:hover {
  color: #CFD8DC;
  transition: .3s;
  cursor: pointer;
}

.imageviewer img {
  display: block;
  margin: 40px auto;
}

#prev, #next {
  border: none;
  color:#fff;
  position: absolute;
}

#prev {
  left: 180px;
  top: 45%;
}

#next {
  right: 180px;
  top: 45%;
}

#prev:hover {
  color: #CFD8DC;
  cursor: pointer;
}

#next:hover {
  color: #CFD8DC;
  cursor: pointer;
}