.gallery-nav {
	position: relative;
	margin: 30px auto 360px;
	padding: 1em 0 4em;
	max-width: 1200px;
	list-style: none;
	text-align: center;
}

/* Common style */
.image-card {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 376px;
	max-height: 360px;
	width: 48%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.image-card img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.image-card figcaption {
	padding: 2em;
	color: #fff;
	box-sizing: border-box;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.image-card figcaption::before,
.image-card figcaption::after {
	pointer-events: none;
}

.image-card figcaption,
.image-card figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
.image-card figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.image-card h2 span {
	font-weight: 800;
}

.image-card h2,
.image-card p {
	margin: 0;
}

.image-card h2 {
	font: 36px "Raleway", sans-serif;
	font-weight: 800;
	letter-spacing: 0.05em;
}

.image-card p {
	font: 14px "Raleway", sans-serif;
	font-weight: 300;
	letter-spacing: 2px;
	font-size: 68.5%;
}

.image-card {
	background: #000;
}

.image-card:hover {
	background: #000;
}

.image-card img {
	opacity: .6;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

.image-card:hover img {
	opacity: 0.45;
}

.image-card figcaption::before,
.image-card figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

.image-card figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

.image-card figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

.image-card h2 {
	padding-top: 40%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
}

.image-card p {
	padding: 10px 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

.image-card:hover figcaption::before,
.image-card:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.image-card:hover h2,
.image-card:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/*
.image-card strong {
	font: 32px "Raleway", sans-serif;
	font-weight: 800;
	letter-spacing: 0.1em;
	color: #ffffff;
	line-height: 320px;
	display: block;
	text-align: center;
	text-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
} 

.image-card {
	height: 320px;
	width: 320px;
	background: #eee;
	margin: 0px 15px 0px 15px;
	display: block;
	float: left;
	transition: all .3s;
	text-decoration: none;
	box-sizing: border-box;
}

.image-card:hover {
	#box-shadow: 0 16px 16px rgba(0,0,0,.24), 0 0 16px rgba(0,0,0,.12);
	-webkit-transition: opacity 0.55s, -webkit-transform 0.55s;
	transition: opacity 0.55s, transform 0.55s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
}

.bg-landscape {
	background: -webkit-linear-gradient(
		rgba(0,0,0,0.4),
		rgba(0,0,0,0.4)),
		url("/images/landscape.jpg");
	background-size: cover;
}

.bg-portrait {
	background: linear-gradient(
		rgba(0,0,0,0.4),
		rgba(0,0,0,0.4)),
		url("/images/portrait.jpg");
	background-size: cover;
}

.bg-food {
	background: linear-gradient(
		rgba(0,0,0,0.4),
		rgba(0,0,0,0.4)),
		url("/images/food.jpg");
	background-size: cover;
}

.gallery-item {
	font: 32px "Raleway", sans-serif;
	font-weight: 700;
	letter-spacing: 0.1em;
	display: inline-block;
	margin: auto;
	text-align: center;
	vertical-align: middle;
	width: 30%;
	background: yellow;
}


/*
.background-landscape {
}

.background-landscape strong {
	font: 24px "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 0.1em;
}

.background-landscape em {
	font: 12px "Raleway", sans-serif;
	font-weight: 300px;
	letter-spacing: 0.3em;
}

.background-portrait strong {
	font: 24px "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 0.1em;
}

.background-portrait em {
	font: 12px "Raleway", sans-serif;
	font-weight: 300px;
	letter-spacing: 0.3em;