.hero {
  display: block;
  height: 280px;
  box-sizing: border-box;
  padding: 140px 0 60px 0;
  background-color: #000;
}

.hero h1 {
  font: 48px "Raleway", sans-serif;
  color: #fff;
  font-weight: 800;
  text-align: center;
}

.hero h2 {
  font: 42px "Euphoria Script", cursive;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  margin: 0 0 -5px 0;
}

.hero.is-large {
  height: 600px;
  padding: 210px 0;
  text-align: center;
}

.hero.is-large h1 {
  font: 64px "Raleway", sans-serif;
  font-weight: 800;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 8px rgba(0,0,0,0.4);
  padding: 0 0 30px 0;
}

.img-featured {
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/images/half-dome-night.jpg") no-repeat center center fixed;
  background-size: cover;
}

.img-landscape {
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("/images/landscape/landscape-1.jpg") no-repeat center center fixed;
  background-size: cover;
}

.img-about {
  background: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url("/images/landscape/landscape-8.jpg") no-repeat center center fixed;
  background-size: cover;
}

.img-contact {
  background: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url("/images/landscape-fall.jpg") no-repeat center center fixed;
  background-size: cover;
}

.img-gallery {
  background: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url("/images/landscape/landscape-11.jpg") no-repeat center center fixed;
  background-size: cover;
}

.img-portrait {
  background: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url("/images/portrait/portrait-5.jpg") no-repeat center center fixed;
  background-size: cover;
}

.img-food {
  background: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url("/images/food/food-5.jpg") no-repeat center center fixed;
  background-size: cover;
}

.hero-bottom-arrow {
  position: relative;
  margin: 70px auto 0;
  height: 60px;
  width: 100%;
}

.hero-bottom-arrow:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: #fff;
  transform: skew(0deg, 3deg);
}

.hero-bottom-arrow:after {
  content: '';
  position: absolute;
  right: 0;
  height: 100%;
  width: 50%;
  background: #fff;
  transform: skew(0deg, -3deg);
}

.hero-bottom-arrow.is-large {
  margin-top: 160px;
}