h3 {
  font: 24px "Raleway", sans-serif;
  font-weight: 300;
  color: #455A64;
  letter-spacing: 0.05em;
}


/*ul li {
  list-style: none;
  text-decoration:none;
  display:inline-block;  
  float:right;
  position: absolute;
  height: 35px;
  margin: 0px 50px 0px 0px;
}

ul li a {
  list-style-type: none;
  font: 16px "Avenir Next";
  font-weight: 500;
  margin: 5px;
  padding: 15px;
  overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: #4DB6AC;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
}

a:hover:not(.active) {
  color: #000000;
}

.active {
  color: #000000;
	background-color:#4CAF50;
}

footer {
  font: 11px "Avenir Next";
  font-weight: 400;
  letter-spacing: 0.1em;
  position: absolute;
  float: left;
  height: 35px;
  margin: 0px 50px 0px 0px;
  color: #546E7A;
  text-align: left;
  padding: 10px 30px;
  width: 300px;
}

