/* RESET */
/* ============================================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* COLOR GUIDE
============================================================== */
/* FONT GUIDE
============================================================== */
/* FONT SIZES
============================================================== */
/* MOBILE SIZING
============================================================== */
/* HERO
============================================================== */
.hero {
  background-color: #000000;
  box-sizing: border-box;
  display: block;
  height: 385px;
  margin-bottom: 2px;
  padding: 200px 0 60px 0; }
  .hero h1 {
    color: #ffffff;
    font-family: "Montserrat", sans-serif, Arial Helvetica, sans-serif;
    font-size: 64px;
    font-weight: 800;
    margin-top: 10px;
    text-align: center;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
    text-transform: uppercase; }
  .hero.is-large {
    height: 640px;
    margin-bottom: 2px;
    padding: 260px 0;
    text-align: center; }
    .hero.is-large h1 {
      color: #ffffff;
      font-family: "Montserrat", sans-serif, Arial Helvetica, sans-serif;
      font-size: 64px;
      font-weight: 700;
      padding: 0 0 30px 0;
      text-align: center;
      text-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
      text-transform: none; }
      .hero.is-large h1 a {
        color: #ffffff;
        text-decoration: none; }
    .hero.is-large h2 {
      color: #ffffff;
      font-family: "Euphoria Script", cursive, Arial Helvetica, sans-serif;
      font-size: 42px;
      margin: 0 0 -5px 0;
      text-align: center;
      text-shadow: 0 0 4px rgba(0, 0, 0, 0.12); }
      .hero.is-large h2 a {
        color: #ffffff;
        text-decoration: none; }
  @media only screen and (max-width: 800px) {
    .hero {
      height: 260px;
      padding: 120px 0; }
      .hero h1 {
        font-size: 36px; }
      .hero.is-large {
        height: 400px;
        padding: 140px 0; }
        .hero.is-large h1 {
          font-size: 50px; }
        .hero.is-large h2 {
          font-size: 36px;
          margin-top: 0px; } }

.hero-bottom-arrow {
  height: 70px;
  margin: 70px auto 0;
  position: relative;
  width: 100%; }
  .hero-bottom-arrow:before {
    background: -webkit-linear-gradient(0deg, #F44336 0%, #FFB74D 100%);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
    transform: skew(0deg, 3deg); }
  .hero-bottom-arrow:after {
    background: -webkit-linear-gradient(0deg, #FFB74D 0%, #F44336 100%);
    content: '';
    height: 100%;
    position: absolute;
    right: 0;
    transform: skew(0deg, -3deg);
    width: 50%; }
  .hero-bottom-arrow.is-large {
    margin-top: 255px; }
  @media only screen and (max-width: 800px) {
    .hero-bottom-arrow {
      margin: 0px; }
      .hero-bottom-arrow.is-large {
        display: none; } }

/* BACKGROUND IMAGES
============================================================== */
.bg-featured {
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("/images/landscape/landscape-14.jpg") no-repeat center center fixed; }

.bg-landscape {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/landscape/landscape-12.jpg") no-repeat center center fixed; }

.bg-about {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/landscape/landscape-8.jpg") no-repeat center bottom fixed; }

.bg-contact {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/landscape/landscape-7.jpg") no-repeat center bottom fixed; }

.bg-gallery {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/landscape/landscape-18.jpg") no-repeat center center fixed; }

.bg-portrait {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/portrait/portrait-15.jpg") no-repeat center center fixed; }

.bg-food {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/food/food-7.jpg") no-repeat center center fixed; }

.bg-engagement {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/engagement/trongchristie-9.jpg") no-repeat bottom center fixed; }

.bg-street {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/street/street-4.jpg") no-repeat center center fixed; }

.bg-sports {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/sports/sports-1.jpg") no-repeat bottom center fixed; }

.bg-things {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/things/things-1.jpg") no-repeat bottom center fixed; }

.bg-travel {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/travel/ny-1.jpg") no-repeat bottom center fixed; }

.bg-large {
  background-size: cover;
  max-height: 100%; }
  @media only screen and (max-width: 800px) {
    .bg-large {
      background-position: top center;
      background-size: 100%; } }
  @media only screen and (max-width: 480px) {
    .bg-large {
      background-position: top center;
      background-size: 250%; } }

.bg {
  background-size: cover;
  max-height: 100%; }
  @media only screen and (max-width: 800px) {
    .bg {
      background-position: top center;
      background-size: 100%; } }
  @media only screen and (max-width: 480px) {
    .bg {
      background-position: top center;
      background-size: 130%; } }

/* TOP NAVIGATION
============================================================== */
.top-nav {
  list-style-type: none;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  font-weight: 400;
  overflow: hidden;
  padding: 30px 0px 30px 0px;
  z-index: 100; }
  .top-nav h1 {
    float: left;
    font-family: "Montserrat", sans-serif, Arial Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 0 60px;
    padding: 0px;
    line-height: 40px; }
    .top-nav h1 em {
      float: right;
      font-family: "Montserrat", sans-serif, Arial Helvetica, sans-serif;
      font-weight: 300;
      margin: 0px 0px 0px 0px;
      padding: 0px;
      line-height: 40px; }
  .top-nav .dropdown-button {
    display: none; }
  .top-nav ul {
    float: right;
    margin: 0px 60px 0px 0px; }
    .top-nav ul li {
      float: left;
      font-family: "Montserrat", sans-serif, Arial Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 400;
      margin: 0;
      padding: 0 0 0 60px;
      letter-spacing: 0.1em;
      line-height: 40px;
      text-transform: uppercase; }
  .top-nav a {
    color: #ffffff;
    text-decoration: none; }
    .top-nav a:hover {
      color: #CFD8DC; }
  @media only screen and (max-width: 800px) {
    .top-nav {
      height: 60px;
      padding: 0;
      overflow: visible; }
      .top-nav h1 {
        margin: 10px 0 0 20px; }
      .top-nav .dropdown-button {
        background: none;
        border: none;
        margin-top: 10px;
        margin-right: 20px;
        color: #ffffff;
        float: right;
        line-height: 40px;
        display: block;
        cursor: pointer; }
      .top-nav .dropdown-button:focus {
        outline: none; }
      .top-nav .dropdown {
        float: none;
        display: none;
        position: absolute;
        margin: 0;
        top: 60px;
        left: 20px;
        right: 20px; }
        .top-nav .dropdown.is-visible {
          display: block; }
        .top-nav .dropdown li {
          float: none;
          margin: 0;
          padding: 0;
          line-height: 0;
          display: block;
          margin-bottom: 3px; }
          .top-nav .dropdown li a {
            background: rgba(0, 0, 0, 0.6);
            color: #ffffff;
            display: block;
            padding: 30px 30px;
            border-radius: 3px; }
            .top-nav .dropdown li a:hover {
              color: #B0BEC5; } }
  @media only screen and (max-width: 480px) {
    .top-nav h1 {
      font-size: 22px; }
      .top-nav h1 em {
        font-size: 22px; } }

/* GALLERY
============================================================== */
.gallery-nav {
  list-style: none;
  position: relative;
  text-align: center; }
  @media only screen and (max-width: 1200px) {
    .gallery-nav {
      margin: 0; } }
  @media only screen and (max-width: 800px) {
    .gallery-nav {
      width: 100%;
      margin: 0; } }

/* Common style */
.image-card {
  background: #000000;
  position: relative;
  float: left;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box; }
  .image-card:hover {
    background: #000000; }
    .image-card:hover img {
      opacity: .5 !important; }
    .image-card:hover h2,
    .image-card:hover p {
      opacity: 1;
      transform: translate3d(0, 0, 0); }
    .image-card:hover figcaption::before,
    .image-card:hover figcaption::after {
      opacity: 1;
      transform: scale(1); }
  .image-card img {
    position: relative;
    display: block;
    height: 100%;
    opacity: 0.65 !important;
    transition: opacity 0.35s; }
  .image-card figcaption,
  .image-card figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .image-card figcaption {
    color: #fff;
    box-sizing: border-box;
    text-transform: uppercase;
    backface-visibility: hidden; }
    .image-card figcaption::before, .image-card figcaption::after {
      position: absolute;
      top: 20px;
      right: 20px;
      bottom: 20px;
      left: 20px;
      content: '';
      opacity: 0;
      transition: opacity 0.35s, transform 0.35s;
      pointer-events: none; }
    .image-card figcaption::before {
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      transform: scale(0, 1); }
    .image-card figcaption::after {
      border-right: 1px solid #fff;
      border-left: 1px solid #fff;
      transform: scale(1, 0); }
    .image-card figcaption > a {
      z-index: 1000;
      text-indent: 200%;
      white-space: nowrap;
      font-size: 0;
      opacity: 0; }
  .image-card h2,
  .image-card p {
    margin: 0; }
  .image-card h2 {
    font-family: "Montserrat", sans-serif, Arial Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 700;
    padding-top: 28%;
    text-transform: uppercase;
    transition: transform 0.35s;
    transform: translate3d(0, 0px, 0); }
  .image-card p {
    font-family: "Montserrat", sans-serif, Arial Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(0, 20px, 0); }

/* TEXT
============================================================== */
/* Body Text Styles */
h3 {
  font-family: "Montserrat", sans-serif, Arial Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #455A64; }

.gallery-content {
  height: 220px;
  padding: 40px 100px;
  text-align: center; }
  .gallery-content p {
    font-family: "Montserrat", sans-serif, Arial Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300; }

.grid p {
  font-family: "Montserrat", sans-serif, Arial Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #455A64;
  line-height: 25px; }

.text-subtitle {
  font-family: "Montserrat", sans-serif, Arial Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #455A64; }

.text-content {
  font-family: "Montserrat", sans-serif, Arial Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #455A64;
  line-height: 24px; }
  .text-content.center {
    margin: 60px 30px 20px;
    text-align: center; }
    @media only screen and (max-width: 800px) {
      .text-content.center {
        margin: 30px 30px 30px; }
        .text-content.center p {
          margin-bottom: 0; } }

/* BUTTON
============================================================== */
.button {
  border: 0px;
  border-radius: 2px;
  display: inline-block;
  font-family: "Montserrat", sans-serif, Arial Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin: auto;
  padding: 16px 26px;
  text-decoration: none; }
  .button.button-primary {
    border: 2px solid #ffffff;
    border-radius: 0;
    color: #ffffff;
    letter-spacing: 1px;
    text-align: center; }
    .button.button-primary:hover {
      background: #ffffff;
      color: #000000;
      cursor: pointer;
      transition: all .3s; }
  .button.button-secondary {
    background-color: #FF5722;
    color: #ffffff;
    margin: 26px 0 0; }
    .button.button-secondary:hover {
      background-color: #F4511E;
      cursor: pointer;
      transition: all .3s; }
  @media only screen and (max-width: 800px) {
    .button {
      margin: auto;
      text-align: center; }
      .button.button-primary {
        padding: 18px 36px; }
      .button.button-secondary {
        margin: 20px auto; } }
  @media only screen and (max-width: 480px) {
    .button.button-primary {
      display: none; } }

@media only screen and (max-width: 800px) {
  .ctr {
    text-align: center; } }

/* FOOTER
============================================================== */
footer {
  padding: 50px 0 20px 0; }
  footer small {
    font-family: "Montserrat", sans-serif, Arial Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #B0BEC5;
    letter-spacing: 0.1em;
    float: left;
    line-height: 50px;
    margin: 0px 60px; }
  footer ul {
    float: right;
    margin: 0px 60px 0px 0px; }
    footer ul li {
      float: left;
      list-style: none;
      display: inline-block;
      line-height: 50px;
      padding: 0px 0px 0px 8px; }
  @media only screen and (max-width: 800px) {
    footer {
      padding: 20px 0px;
      text-align: center; }
      footer small {
        float: none;
        margin: 10px auto;
        display: block; }
      footer ul {
        float: none;
        display: block;
        margin: auto; }
        footer ul li {
          float: none; } }
  @media only screen and (max-width: 480px) {
    footer small em {
      text-align: center;
      display: block;
      line-height: 20px; } }

/* GRID
============================================================== */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

* {
  box-sizing: border-box; }

.grid-masonry {
  width: 100% !important; }
  .grid-masonry.gallery {
    width: 100%;
    padding-bottom: 110px; }
  .grid-masonry .grid-sizer,
  .grid-masonry .grid-masonry-item {
    width: 25%; }
  .grid-masonry .grid-masonry-item {
    float: left;
    background: #000000; }
    .grid-masonry .grid-masonry-item img {
      background: #000000;
      opacity: .9;
      transition: .4s; }
      .grid-masonry .grid-masonry-item img:hover {
        opacity: 1; }
  .grid-masonry img {
    display: block;
    width: 100%; }
  .grid-masonry:after {
    content: '';
    display: block;
    clear: both; }
  @media only screen and (max-width: 1200px) {
    .grid-masonry .grid-sizer,
    .grid-masonry .grid-masonry-item {
      width: 33.333%; } }
  @media only screen and (max-width: 800px) {
    .grid-masonry .grid-sizer,
    .grid-masonry .grid-masonry-item {
      width: 50%; } }
  @media only screen and (max-width: 480px) {
    .grid-masonry .grid-sizer,
    .grid-masonry .grid-masonry-item {
      width: 100%; } }

.grid {
  width: 960px;
  margin: 80px auto 30px;
  box-sizing: border-box; }
  .grid:after {
    content: "";
    display: table;
    clear: both; }
  .grid .col-1 {
    width: 60px;
    margin: 0 10px 18px;
    float: left; }
  @media only screen and (max-width: 800px) {
    .grid img.col-6 {
      display: none; } }
  .grid .col-2 {
    width: 140px;
    margin: 0 10px 18px;
    float: left; }
  @media only screen and (max-width: 800px) {
    .grid img.col-6 {
      display: none; } }
  .grid .col-3 {
    width: 220px;
    margin: 0 10px 18px;
    float: left; }
  @media only screen and (max-width: 800px) {
    .grid img.col-6 {
      display: none; } }
  .grid .col-4 {
    width: 300px;
    margin: 0 10px 18px;
    float: left; }
  @media only screen and (max-width: 800px) {
    .grid img.col-6 {
      display: none; } }
  .grid .col-5 {
    width: 380px;
    margin: 0 10px 18px;
    float: left; }
  @media only screen and (max-width: 800px) {
    .grid img.col-6 {
      display: none; } }
  .grid .col-6 {
    width: 460px;
    margin: 0 10px 18px;
    float: left; }
  @media only screen and (max-width: 800px) {
    .grid img.col-6 {
      display: none; } }
  .grid .col-7 {
    width: 540px;
    margin: 0 10px 18px;
    float: left; }
  @media only screen and (max-width: 800px) {
    .grid img.col-6 {
      display: none; } }
  .grid .col-8 {
    width: 620px;
    margin: 0 10px 18px;
    float: left; }
  @media only screen and (max-width: 800px) {
    .grid img.col-6 {
      display: none; } }
  .grid .col-9 {
    width: 700px;
    margin: 0 10px 18px;
    float: left; }
  @media only screen and (max-width: 800px) {
    .grid img.col-6 {
      display: none; } }
  .grid .col-10 {
    width: 780px;
    margin: 0 10px 18px;
    float: left; }
  @media only screen and (max-width: 800px) {
    .grid img.col-6 {
      display: none; } }
  .grid .col-11 {
    width: 860px;
    margin: 0 10px 18px;
    float: left; }
  @media only screen and (max-width: 800px) {
    .grid img.col-6 {
      display: none; } }
  .grid .col-12 {
    width: 940px;
    margin: 0 10px 18px;
    float: left; }
  @media only screen and (max-width: 800px) {
    .grid img.col-6 {
      display: none; } }
  @media only screen and (max-width: 800px) {
    .grid {
      width: auto;
      display: block;
      margin: 0 auto; }
      .grid .col-1,
      .grid .col-2,
      .grid .col-3,
      .grid .col-4,
      .grid .col-5,
      .grid .col-6,
      .grid .col-7,
      .grid .col-8,
      .grid .col-9,
      .grid .col-10,
      .grid .col-11,
      .grid .col-12 {
        width: auto;
        display: block;
        margin: 0;
        float: none;
        padding: 40px 40px 0; }
        .grid .col-1.is-full-width,
        .grid .col-2.is-full-width,
        .grid .col-3.is-full-width,
        .grid .col-4.is-full-width,
        .grid .col-5.is-full-width,
        .grid .col-6.is-full-width,
        .grid .col-7.is-full-width,
        .grid .col-8.is-full-width,
        .grid .col-9.is-full-width,
        .grid .col-10.is-full-width,
        .grid .col-11.is-full-width,
        .grid .col-12.is-full-width {
          margin: auto;
          width: 100%;
          padding: 0; } }
  @media only screen and (max-width: 480px) {
    .grid {
      width: auto;
      display: block;
      margin: 0 auto; }
      .grid .col-1,
      .grid .col-2,
      .grid .col-3,
      .grid .col-4,
      .grid .col-5,
      .grid .col-6,
      .grid .col-7,
      .grid .col-8,
      .grid .col-9,
      .grid .col-10,
      .grid .col-11,
      .grid .col-12 {
        width: auto;
        display: block;
        margin: 0;
        float: none;
        padding: 20px 20px 0; }
        .grid .col-1.is-full-width,
        .grid .col-2.is-full-width,
        .grid .col-3.is-full-width,
        .grid .col-4.is-full-width,
        .grid .col-5.is-full-width,
        .grid .col-6.is-full-width,
        .grid .col-7.is-full-width,
        .grid .col-8.is-full-width,
        .grid .col-9.is-full-width,
        .grid .col-10.is-full-width,
        .grid .col-11.is-full-width,
        .grid .col-12.is-full-width {
          margin: auto;
          width: 100%;
          padding: 0; } }

/* VIEWER
============================================================== */
html,
body,
.viewer {
  height: 100%;
  width: 100%;
  margin: 0; }

.viewer {
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  margin: auto;
  text-align: center; }
  .viewer.is-visible {
    display: block; }
  .viewer .viewer-bg {
    background: black;
    top: 0;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    opacity: 1; }
  .viewer .viewer-image-container {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    margin: 50px auto;
    text-align: center; }
    .viewer .viewer-image-container img {
      background: white;
      display: block;
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      margin: auto;
      background: white;
      padding: 60px 25px 24px;
      box-shadow: 0 0px 8px rgba(0, 0, 0, 0.12), 0 8px 16px rgba(0, 0, 0, 0.24); }
  .viewer .viewer-close-button {
    color: #757575;
    font-size: 42px;
    padding: 4px 6px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .2s;
    z-index: 4; }
    .viewer .viewer-close-button:hover {
      color: #ffffff;
      cursor: pointer; }
  .viewer .viewer-arrow-forward,
  .viewer .viewer-arrow-back {
    border: none;
    color: #757575;
    font-size: 80px;
    position: absolute;
    transition: all .2s;
    z-index: 5; }
  .viewer .viewer-arrow-forward {
    right: 20px;
    top: 45%; }
    .viewer .viewer-arrow-forward:hover {
      color: #F5F5F5;
      cursor: pointer; }
  .viewer .viewer-arrow-back {
    left: 20px;
    top: 45%; }
    .viewer .viewer-arrow-back:hover {
      color: #F5F5F5;
      cursor: pointer; }
  .viewer .viewer-caption {
    color: #212121;
    font-family: "Montserrat", sans-serif, Arial Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 20px;
    padding: 73px 30px 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 3; }
  @media only screen and (max-width: 800px) {
    .viewer .viewer-image-container img {
      background: none;
      padding: 0;
      padding-top: 50px; }
    .viewer .viewer-arrow-forward,
    .viewer .viewer-arrow-back {
      display: none; }
    .viewer .viewer-caption {
      color: #ffffff;
      font-size: 14px;
      padding-top: 50px; } }

.form {
  width: 420px;
  display: block;
  float: left; }
  .form input {
    background-color: #ECEFF1;
    border: 0;
    color: #263238;
    width: 420px;
    padding: 15px;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 2px; }
    .form input:focus {
      outline: none; }
  .form textarea {
    background-color: #ECEFF1;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: 0;
    color: #263238;
    height: 195px;
    width: 420px;
    padding: 15px;
    letter-spacing: 1px;
    border-radius: 2px; }
    .form textarea:focus {
      outline: none; }
  .form ul li {
    margin-bottom: 10px; }
  @media only screen and (max-width: 800px) {
    .form {
      width: 100%;
      margin: auto; }
      .form input {
        width: 100%; }
      .form textarea {
        width: 100%; } }

.form-alert {
  font-family: "Montserrat", sans-serif, Arial Helvetica, sans-serif;
  font-size: 14px;
  color: #C62828;
  font-weight: 400;
  box-sizing: border-box;
  line-height: 18px;
  margin-top: 10px; }

.form-success {
  font-family: "Montserrat", sans-serif, Arial Helvetica, sans-serif; }
  .form-success h1 {
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    color: #37474F; }

/* ANIMATION
============================================================== */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

/* LAYOUT
============================================================== */
.l-center {
  text-align: center; }
  @media only screen and (max-width: 800px) {
    .l-center {
      width: auto;
      display: block; }
      .l-center .l-max-width {
        width: 100%;
        display: block; } }

/* Styles */
.is-rounded {
  border-radius: 2px; }
  @media only screen and (max-width: 800px) {
    .is-rounded {
      border-radius: 0; } }

.content-wrapper {
  padding: 0; }
  @media only screen and (max-width: 480px) {
    .content-wrapper {
      padding: 20px 0 50px; } }

@media only screen and (max-width: 800px) {
  .social-media-content-wrapper {
    margin-bottom: 50px; } }

/* MATERIAL DESIGN
============================================================== */
/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-42 {
  font-size: 42px; }

.material-icons.md-48 {
  font-size: 48px; }

.material-icons.md-72 {
  font-size: 72px; }

.material-icons.md-100 {
  font-size: 100px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54); }

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: white; }

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3); }

.fa-circle {
  color: #CFD8DC; }
