body {
  	padding: 10px;
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

h1 {
   	font: 40px "Source Sans Pro";
   	font-weight: bold;
   	text-align: center;
}

h2 {
	font: 25px "Source Sans Pro";
	text-align: center;
}

img {
	position: relative;
	width: 100%;
	height: auto;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

li {
    position: relative;
    float: right;
}

li a {
    display: block;
    color: #ff0000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #eee;
}

.active {
	background-color:#4CAF50;
}