.viewer {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
}

.viewer.is-visible {
  display: block;
}

.viewer-close-button {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #fff;
}

.viewer-close-button:hover {
  color: #CFD8DC;
  transition: .3s;
  cursor: pointer;
}

.viewer-image-container {
  height: 600px;
  width: 900px;
  margin: 40px auto 0px;
}

.viewer-image-container img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

.viewer-caption {
  font: 16px "Raleway", sans-serif;
  font-weight: 300;
  letter-spacing: 0.05em;
  display: block;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

.back-arrow, .forward-arrow {
  border: none;
  color:#fff;
  position: absolute;
  z-index: 10;
}

.back-arrow {
  left: 180px;
  top: 45%;
}

.forward-arrow {
  right: 180px;
  top: 45%;
}

.back-arrow:hover {
  color: #CFD8DC;
  cursor: pointer;
}

.forward-arrow:hover {
  color: #CFD8DC;
  cursor: pointer;
}