/* BACKGROUND IMAGES
============================================================== */



.bg-featured {
  background: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.6)), url("/images/half-dome-night.jpg") no-repeat center center fixed;
}

.bg-landscape {
  background: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url("/images/landscape/landscape-1.jpg") no-repeat center center fixed;
}

.bg-about {
  background: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url("/images/landscape/landscape-8.jpg") no-repeat center center fixed;
}

.bg-contact {
  background: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url("/images/landscape-fall.jpg") no-repeat center center fixed;
}

.bg-gallery {
  background: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url("/images/landscape/landscape-11.jpg") no-repeat center center fixed;
}

.bg-portrait {
  background: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url("/images/portrait/portrait-5.jpg") no-repeat center center fixed;
}

.bg-food {
  background: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url("/images/food/food-5.jpg") no-repeat center center fixed;
}

.bg-large {
  background-size: cover;
  max-height: 100%;

  @media handheld and (max-width: $breakpoint-medium),
  screen and (max-device-width: $breakpoint-medium),
  screen and (max-width: $breakpoint-medium) {
    height: 400px;
    background-position: bottom center;
  }
}

.bg {
  background-size: cover;
  max-height: 100%;

  @media handheld and (max-width: $breakpoint-medium),
  screen and (max-device-width: $breakpoint-medium),
  screen and (max-width: $breakpoint-medium) {
    height: 260px;
    background-position: bottom center;
  }
}