/* BACKGROUND IMAGES
============================================================== */

.img-featured {
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/images/half-dome-night.jpg") no-repeat center center fixed;
  background-size: cover;
}

.img-landscape {
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("/images/landscape/landscape-1.jpg") no-repeat center center fixed;
  background-size: cover;
}

.img-about {
  background: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url("/images/landscape/landscape-8.jpg") no-repeat center center fixed;
  background-size: cover;
}

.img-contact {
  background: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url("/images/landscape-fall.jpg") no-repeat center center fixed;
  background-size: cover;
}

.img-gallery {
  background: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url("/images/landscape/landscape-11.jpg") no-repeat center center fixed;
  background-size: cover;
}

.img-portrait {
  background: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url("/images/portrait/portrait-5.jpg") no-repeat center center fixed;
  background-size: cover;
}

.img-food {
  background: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url("/images/food/food-5.jpg") no-repeat center center fixed;
  background-size: cover;
}