/* BUTTON
============================================================== */

.button {
  font-family: $font-family;
  font-size: $font-size-1x;
  display: inline-block;
  letter-spacing: 0.1em;
  padding: 14px 36px;
  text-decoration: none;
  
  &.primary {
    color: $white;
    border: 1px solid $white;
    letter-spacing: 0.2em;
    text-align: center;

    &:hover {
      background: $white;
      color: $black;
      transition: all .3s;
    }
  }

  &.secondary {
    color: $white;
    background-color: $blue-300;

    &:hover {
      background-color: $blue-500;
      transition: all .3s;
    }
  }
}