/* BUTTON
============================================================== */

.button {
  border: 0px;
  border-radius: 2px;
  box-sizing: border-box;
  display: inline-block;
  font-family: $font-family;
  font-size: $font-size-2x;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 44px;
  margin: auto;
  padding: 0 24px;
  text-decoration: none;

  &.button-primary {
    border: 2px solid $white;
    border-radius: 0;
    color: $white;
    text-align: center;

    &:hover {
      background: $white;
      color: $black;
      cursor: pointer;
      transition: all .3s;
    }
  }

  &.button-secondary {
    background-color: $deep-orange-500;
    color: $white;
    margin: 26px 0 0;

    &:hover {
      background-color: $deep-orange-600;
      cursor: pointer;
      transition: all .3s;
    }
  }

  @media only screen and (max-width: $breakpoint-medium) {
    margin: auto;
    text-align: center;

    &.button-secondary {
      margin: 20px auto;
    }
  }
}

@media only screen and (max-width: $breakpoint-medium) {

  .ctr {
    text-align: center;
  }
}