/* FOOTER
============================================================== */

footer {
  padding: 50px 0 20px 0;

  small {
    font-family: $font-family;
    font-size: 12px;
    font-weight: 300;
    color: $blue-grey-200;
    letter-spacing: 0.1em;
    float: left;
    line-height: 50px;
    margin: 0px 60px;
  }

  ul {
    float: right;
    margin: 0px 60px 0px 0px;

    li {
      float: left;
      list-style: none;
      display: inline-block;
      line-height: 50px;
      padding: 0px 0px 0px 8px;
    }
  }

  @media only screen and (max-width: $breakpoint-medium) {
    padding: 20px 0px;
    text-align: center;

    small {
      float: none;
      margin: 10px auto;
      display: block;
    }

    ul {
      float: none;
      display: block;
      margin: auto;

      li {
      float: none;
      }
    }
  }

  @media only screen and (max-width: $breakpoint-small) {

    small {

      em {
        text-align: center;
        display: block;
        line-height: 20px;
      }
    }
  }
}