.form {
  width: 420px;
  display: block;
  float: left;

  input {
    background-color: $blue-grey-50;
    border: 0;
    color: $blue-grey-900;
    width: 420px;
    padding: 15px;
    font-family: "Raleway", sans-serif;
    font-size: $font-size-1x;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 2px;

    &:focus {
      outline: none;
    }
  }

  textarea {
    background-color: $blue-grey-50;
    font-family: "Raleway", sans-serif;
    font-size: $font-size-1x;
    font-weight: 400;
    border: 0;
    color: $blue-grey-900;
    height: 169px;
    width: 420px;
    padding: 15px;
    letter-spacing: 1px;
    border-radius: 2px;

    &:focus {
      outline: none;
    }
  }

  ul li {
    margin-bottom: 10px;
  }

  @media only screen and (max-width: $breakpoint-medium) {
    width: 90%;
    margin: auto;

    input {
      width: 100%;
    }

    textarea {
      width: 100%;
    }
  }
}


.form-alert {
  font-family: $font-family;
  font-size: $font-size-1x;
  color: $red-800;
  font-weight: 400;
  box-sizing: border-box;
  line-height: 18px;
  margin-top: 10px;
}

.form-success {
  font-family: $font-family;

  & h1 {
    font-size: $font-size-4x;
    font-weight: 800;
    text-transform: uppercase;
    color: $blue-grey-800;
  }
}