.form {
  width: 420px;
  display: block;
  float: left;

  input {
    background-color: $blue-grey-50;
    border: 0;
    border-radius: 2px;
    color: $blue-grey-900;
    float: left;
    font-family: "Raleway", sans-serif;
    font-size: $font-size-1x;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 20px;
    padding: 12px;
    width: 200px;

    &[type="text"] {
      margin-right: 20px;
    }

    &:focus {
      outline: none;
    }
  }

  textarea {
    background-color: $blue-grey-50;
    font-family: "Raleway", sans-serif;
    font-size: $font-size-1x;
    font-weight: 400;
    border: 0;
    color: $blue-grey-900;
    height: 247px;
    width: 420px;
    padding: 12px;
    letter-spacing: 1px;
    border-radius: 2px;

    &:focus {
      outline: none;
    }
  }

  @media only screen and (max-width: $breakpoint-medium) {
    width: 100%;
    margin: auto;

    input {
      width: 100%;
    }

    textarea {
      width: 100%;
    }
  }
}


.form-alert {
  box-sizing: border-box;
  color: $red-700;
  font-family: $font-family;
  font-size: $font-size-1x;
  font-weight: 300;
  line-height: 18px;
  margin-top: 10px;
  width: 420px;

  h4 {
    background-color: $red-400;
    border-radius: 3px;
    color: $white;
    float: left;
    font-size: 13px;
    margin-right: 5px;
    padding: 3px 10px;
  }

  span {
    float: left;
    font-weight: 800;
    padding: 2px 0;
    margin-right: 10px;
  }

  li {
    background-color: $red-200;
    border-radius: 3px;
    display: inline-block;
    font-size: 13px;
    margin-right: 2px;
    padding: 3px 8px;
  }
}

.form-success {
  font-family: $font-family;

  & h1 {
    color: $blue-grey-800;
    font-size: $font-size-4x;
    font-weight: 800;
    text-transform: uppercase;
  }
}