/* GALLERY
============================================================== */

.gallery-nav {
  position: relative;
  margin: auto;
  max-width: 100%;
  list-style: none;
  text-align: center;

  @media only screen and (max-width: $breakpoint-large) {
    margin: 50px 10px;
  }

  @media only screen and (max-width: $breakpoint-medium) {
    width: 100%;
    margin: 0;
  }
}

/* Common style */
.image-card {
  background: $black;
  position: relative;
  float: left;
  overflow: hidden;
  width: 33.3333%;
  height: 500px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    background: $black;

    img {
      opacity: 0.50;
    }

    h2,
    p {
      opacity: 1;
      transform: translate3d(0,0,0);
    }

    figcaption::before,
    figcaption::after {
      opacity: 1;
      transform: scale(1);
    }
  }

  img {
    position: relative;
    display: block;
    min-height: 100%;
    opacity: 0.6;
    transition: opacity 0.35s;
  }

  figcaption,
  figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  figcaption {
    color: #fff;
    box-sizing: border-box;
    text-transform: uppercase;
    backface-visibility: hidden;

    &::before,
    &::after {
      position: absolute;
      top: 30px;
      right: 30px;
      bottom: 30px;
      left: 30px;
      content: '';
      opacity: 0;
      transition: opacity 0.35s, transform 0.35s;
      pointer-events: none;
    }

    &::before {
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      transform: scale(0,1);
    }

    &::after {
      border-right: 1px solid #fff;
      border-left: 1px solid #fff;
      transform: scale(1,0);
    }

    > a {
      z-index: 1000;
      text-indent: 200%;
      white-space: nowrap;
      font-size: 0;
      opacity: 0;
    }
  }

    h2,
    p {
      margin: 0;
    }

    h2 {
    font-family: $font-family;
    font-size: $font-size-4x;
    font-weight: 800;
    letter-spacing: 0.05em;
    padding-top: 210px;
    transition: transform 0.35s;
    transform: translate3d(0,-5px,0);
    }

    p {
    font-family: $font-family;
    font-size: $font-size-1x;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 14px;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(0,20px,0);
    }

  @media only screen and (max-width: $breakpoint-large) {

    img {
      width: auto;
    }

    h2 {
      font-size: 30px;
    }
  }

  @media only screen and (max-width: $breakpoint-medium) {
    width: auto;
    height: 200px;
    display: block;
    margin: 20px;
    float: none;
    border: 0;
    border-radius: 2px;

    h2 {
      padding-top: 75px;
    }

    p {
      padding: 0;
    }

    img {
      width: 100%;
    }
  }
}
