/* IMAGE
============================================================== */

.image-center {
  text-align: center;
  margin: 40px auto;

  @media handheld and (max-width: $breakpoint-medium),
  screen and (max-device-width: $breakpoint-medium),
  screen and (max-width: $breakpoint-medium) {
    width: auto;
    display: block;
    margin: 40px auto;

    .img-contact-secondary {
      width: 100%;
      display: block;
    }
  }
}