/* LAYOUT
============================================================== */

.l-center {
  text-align: center;

  @media only screen and (max-width: $breakpoint-medium) {
    width: auto;
    display: block;

    .l-max-width {
      width: 100%;
      display: block;
    }
  }
}

.is-rounded {
  border-radius: 2px;

  @media only screen and (max-width: $breakpoint-medium) {
    border-radius: 0;
  }
}

.content-wrapper {
  padding: 0;

  @media only screen and (max-width: $breakpoint-small) {

    padding: 20px 0 50px;
  }
}