/* COLOR GUIDE
============================================================== */

$white: #ffffff;
$black: #000000;

$blue-grey-100: #CFD8DC;
$blue-grey-700: #455A64;

$blue-300: #64B5F6;
$blue-500: #2196F3;


/* FONT GUIDE
============================================================== */

$font-family: "Raleway", sans-serif, Arial, Helvetica, sans-serif;
$font-family-secondary: "Euphoria Script", cursive, Arial Helvetica, sans-serif;


/* FONT SIZES
============================================================== */

$font-size-1x: 14px;
$font-size-2x: 16px;
$font-size-3x: 24px;
$font-size-4x: 36px;
$font-size-5x: 48px;


/* MOBILE SIZING
============================================================== */

$phone-breakpoint: 800px;
$tablet-breakpoint: 800px;