/* TEXT
============================================================== */

/* Body Text Styles */
.text-subtitle {
  font-family: $font-family;
  font-size: $font-size-3x;
  font-weight: 300;
  color: $blue-grey-700;

  @media handheld and (max-width: $breakpoint-medium),
  screen and (max-device-width: $breakpoint-medium),
  screen and (max-width: $breakpoint-medium) {
    margin-top: 15px;
  }
}

.text-content {
  font-family: $font-family;
  font-size: $font-size-2x;
  font-weight: 300;
  color: $blue-grey-700;
  line-height: 24px;

  &.center {
    margin: 60px 30px 20px;
    text-align: center;
  }
}