/* TOP NAVIGATION
============================================================== */

.top-nav {
  list-style-type: none;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  font-weight: 400;
  overflow: hidden;
  padding: 30px 0px 30px 0px;
  z-index: 100;

  h1 {
    float: left;
    font-family: $font-family;
    font-size: $font-size-3x;
    font-weight: 800;
    margin: 0 0 0 60px;
    padding: 0px;
    line-height: 40px;

    em {
      float: right;
      font-family: $font-family;
      font-size: $font-size-3x;
      font-weight: 300;
      margin: 0px 0px 0px 0px;
      padding: 0px;
      line-height: 40px;
    }
  }

  .dropdown-button {
    display: none;
  }

  ul {
    float: right;
    margin: 0px 60px 0px 0px;

    li {
      float: left;
      font-family: $font-family;
      font-size: $font-size-1x;
      font-weight: 400;
      margin: 0;
      padding: 0 0 0 60px;
      letter-spacing: 0.1em;
      line-height: 40px;
      text-transform: uppercase;
    }
  }

  a {
    color: $white;
    text-decoration: none;

    &:hover {
      color: $blue-grey-100;
    }
  }

  @media handheld and (max-width: $breakpoint-medium),
  screen and (max-device-width: $breakpoint-medium),
  screen and (max-width: $breakpoint-medium) {
    height: 60px;
    padding: 0;
    overflow: visible;

    h1 {
      margin: 10px 0 0 20px;
    }

    .dropdown-button {
      margin-top: 10px;
      margin-right: 20px;
      color: $white;
      float: right;
      line-height: 40px;
      display: block;
      cursor: pointer;
    }

    .dropdown {
      float: none;
      display: none;
      position: absolute;
      margin: 0;
      top: 60px;
      left: 20px;
      right: 20px;

      &.is-visible {
        display: block;
      }

      li {
        float: none;
        margin: 0;
        padding: 0;
        line-height: 0;
        display: block;
        margin-bottom: 3px;

        a {
          background: rgba(0,0,0,.6);
          color: $white;
          display: block;
          padding: 30px 30px;
          border-radius: 3px;

          &:hover {
            color: $blue-grey-200;
          }
        }
      }
    }
  }

  @media handheld and (max-width: $breakpoint-small),
  screen and (max-device-width: $breakpoint-small),
  screen and (max-width: $breakpoint-small) {

    h1 {
      font-size: 22px;

      em {
        font-size: 22px;
      }
    }
  }
}